{% extends 'main.html' %}
{% block content %}
{% load static %}
<main id="main" class="main">
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div id="floating">
              {% for message in messages %}
              <div class="alert {{message.tags}} alert-dismissible" role="alert">
                <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{message | safe}}
              </div>
              {% endfor %}
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Add News</h5>
                  <!-- <p class="text-center small">Enter your phone number & amount to save</p> -->
                </div>
                <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation">
                  {% csrf_token %}

                  <div class="col-6">
                    <label for="yourUsername" class="form-label">News Category</label>
                    <div class="input-group has-validation">
                      <div class="col-md-8 col-lg-9">
                        {{form.category}}
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <label for="yourUsername" class="form-label">News Title</label>
                    <div class="input-group has-validation">
                      <div class="col-md-8 col-lg-9">
                        {{form.tittle}}
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <label for="yourUsername" class="form-label">News Image</label>
                    <div class="input-group has-validation">
                      <div class="col-md-8 col-lg-9">
                        {{form.image}}
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">News text</label>
                    <div class="input-group has-validation">
                      <div class="col-md-8 col-lg-9">
                        {{form.text}}
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe"
                        required>
                      <label class="form-check-label" for="rememberMe">Confirm</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Submit</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<script>
  var message_ele = document.getElementById("floating");
  setTimeout(function () {
    message_ele.style.display = "none"
  }, 30000);
</script>
{% endblock content %}