{% extends 'main.html' %}
{% block content %}
{% load static %}


<main id="main" class="main">

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th scope="col">#</th> -->
                    <!-- <th scope="col">ID</th> -->
                    <!-- <th scope="col">Transaction Code</th> -->
                    <th scope="col">Author</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">Title</th>
                    <th scope="col">Text</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in all reversed %}
                  <tr>
                    <td>{{data.user.first_name}}</td>
                    <td><img style="width: 100px; height: 100px;" src="{{data.image.url}}" alt=""></td>
                    <td>{{data.category}}</td>
                    <td>{{data.tittle}}</td>
                    <td style="word-wrap: break-word; max-width: 270px;">{{data.text }}</td>
                    <td>{{data.created_date}}</td>
                    <td>{{data.created_time}}</td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>

</main>


{% endblock content %}