{% extends 'main.html' %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div id="floating">
        {% for message in messages %}
        <div class="alert {{message.tags}} alert-dismissible" role="alert">
            <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message | safe}}
        </div>
        {% endfor %}
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="row">
                <div class="col-xxl-12 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title"> <span></span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <h3> <b>.docx</b> </h3>
                                </div>
                                <div class="ps-3">
                                    <h6>Export to Microsoft Word</h6>
                                    <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span
                                        class="text-muted small pt-2 ps-1">increase</span> -->

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="card-body">
                            <h5 class="card-title"><span></span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <h3> <b>.xls</b> </h3>
                                </div>
                                <div class="ps-3">
                                    <h6>Export to Excel</h6>
                                    <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span
                                        class="text-muted small pt-2 ps-1">increase</span> -->

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->

                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title"><span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <h3> <b>.csv</b> </h3>
                                </div>
                                <div class="ps-3">
                                    <h6>Export to CSV</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="card-body">
                            <h5 class="card-title"><span></span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <h3> <b>.json</b> </h3>
                                </div>
                                <div class="ps-3">
                                    <h6>Export to JSON</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- End Right side columns -->

        </div>
    </section>

</main>

{% endblock content %}